#DATA STRUCTURE

1. What are data structures, and why are they important ?
    
    >Data structures are a way of organizing and storing data in a computer so that it can be used efficiently. They are crucial for software development because they allow for better management, retrieval, and manipulation of data, leading to more efficient and optimized programs.

2.  Explain the difference between mutable and immutable data types with examples

    >Mutable data types are those whose values can be changed after they are created, while immutable data types cannot be modified once created. Examples of mutable types include lists, dictionaries, and sets, whereas strings and tuples are immutable.

3. What are the main differences between lists and tuples in Python ?

   >Lists and tuples are both used to store a sequence of items in Python, but they have key differences.

Mutability:

Lists are mutable, meaning their contents can be changed after creation. You can add, remove, or modify elements in a list.

Tuples are immutable, meaning their contents cannot be changed after creation. Once a tuple is defined, you cannot add, remove, or modify elements.

  Syntax:

Lists: are defined using square brackets [ ].

Tuples: are defined using parentheses ( ).

4. Describe how dictionaries store data ?
   
   >Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

5. Why might you use a set instead of a list in Python ?

   >1. Uniqueness: Sets only store unique elements. If you try to add a duplicate to a set, it will simply be ignored. Lists, on the other hand, allow duplicate elements. If your data requires uniqueness, a set is the natural choice.
   >2. Unordered: Sets are unordered collections. This means that the elements are not stored in any particular sequence, and you cannot access elements by index like you can with lists. If the order of the elements does not matter, a set can be more efficient.

6. What is a string in Python, and how is it different from a list ?

   >Strings in Python are sequences of characters enclosed in quotes ( ' ' or “ ” ). Lists are ordered collections of items enclosed in square brackets [ ]. Strings are immutable, meaning they cannot be changed once created, while lists are mutable and can be modified as needed.

7. How do tuples ensure data integrity in Python ?

   >Tuples in Python ensure data integrity through their immutability. Once a tuple is created, its elements cannot be changed, added, or removed. This characteristic prevents accidental modifications, ensuring that the data remains consistent throughout the program's execution.

8.  What is a hash table, and how does it relate to dictionaries in Python ?

    >A hash table is a data structure that implements an associative array, also known as a dictionary or map. It uses a hash function to compute an index, called a hash code, into an array of buckets or slots, where the desired value can be found. This allows for efficient storage and retrieval of data, with an average time complexity of O(1) for insertion, lookup, and deletion operations.

9.  Can lists contain different data types in Python ?

    >Yes, lists in Python can contain elements of different data types. This means a single list can hold integers, floats, strings, booleans, and even other complex data structures like lists, tuples, or dictionaries.

10. Explain why strings are immutable in Python ?

    >Immutable strings can be efficiently stored in memory. Since their size is fixed after creation, Python can optimize memory allocation and reuse string objects.

11. What advantages do dictionaries offer over lists for certain tasks ?

    >Dictionaries excel in scenarios requiring fast lookups, key-value associations, and complex data mappings, while lists are ideal for ordered collections, sequential processing, and simple data storage.

12. Describe a scenario where using a tuple would be preferable over a list ?

    >Tuples are immutable. Hence, they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change. Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant.

13. How do sets handle duplicate values in Python ?
    
    >In Python, sets are designed to store only unique elements. When you attempt to add a duplicate value to a set, it will be ignored, and the set will remain unchanged. This behavior ensures that a set always contains distinct elements.

14.  How does the “in” keyword work differently for lists and dictionaries ?
     
     >The in operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list.

15. Can you modify the elements of a tuple? Explain why or why not ?
    
    >No, you cannot directly modify the elements of a tuple after it has been created. Tuples are immutable data structures

    >Tuples are well-suited for applications like representing fixed sets of data, such as coordinates, records, or keys in dictionaries.
    >Immutability ensures that the values within a tuple remain consistent, making them reliable for situations where data integrity is crucial.

16. What is a nested dictionary, and give an example of its use case ?

    >A nested dictionary in Python is a dictionary where the values are themselves dictionaries. This allows you to create hierarchical or multi-level data structures, where each dictionary can contain other dictionaries as its values.

17. Describe the time complexity of accessing elements in a dictionary ?

    >Accessing an element in a dictionary typically has an average time complexity of O(1), meaning it takes constant time regardless of the dictionary's size. This is due to the use of a hash table, which allows for direct lookup of elements based on their key.

18. In what situations are lists preferred over dictionaries ?

    >Lists are preferred over dictionaries in situations where order and sequential access are important, when you need to store a collection of items that may contain duplicates, or when you need to perform operations like sorting or slicing frequently. Dictionaries are generally better for situations where you need to quickly access items by a unique key and where order is not important.

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?

    >Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key. In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order, as simple as that.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

    >In terms of data retrieval, lists are accessed by index, while dictionaries are accessed by key. This means that to retrieve a specific element from a list, you use its numerical position (starting from 0), whereas for a dictionary, you use the associated key to find the corresponding value.

# PRACTICAL QUESTIONS

In [3]:
# Write a code to create a string with your name and print it
info = ("Somya", "20")
print(info)

('Somya', '20')

In [4]:
# Write a code to find the length of the string "Hello World"
word = ("Hello World")
len(word)

11

In [6]:
# Write a code to slice the first 3 characters from the string "Python Programming"
string = ("Python Programming")
string[:3]

'Pyt'

In [11]:
# Write a code to convert the string "hello" to uppercase
string = ("hello")
string.upper()

'HELLO'

In [29]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"
string =("I like apple")
string.replace("apple", "orange")

'I like orange'

In [32]:
# Write a code to create a list with numbers 1 to 5 and print it
list = [1, 2, 3, 4, 5]
list

[1, 2, 3, 4, 5]

In [33]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1, 2, 3, 4]
list.append(10)
list

[1, 2, 3, 4, 10]

In [34]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1, 2, 3, 4, 5]
list.remove(3)
list

[1, 2, 4, 5]

In [35]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
list[1]

'b'

In [36]:
# Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
list.reverse()
list

[50, 40, 30, 20, 10]

In [37]:
#  Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100, 200, 300)
tuple

(100, 200, 300)

In [38]:
#  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple = ('red', 'green', 'blue', 'yellow')
tuple[1:]

('green', 'blue', 'yellow')

In [46]:
#  Write a code to find the minimum number in the tuple (10, 20, 5, 15)
numbers = (10, 20, 5, 15)
minimum_number = min(numbers)
print(minimum_number)

5

In [47]:
#  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
pet = ('dog', 'cat', 'rabbit')
pet.index('cat')

1

In [50]:
#  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "orange")
"kiwi" in fruits

False

In [51]:
#  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
alpha = {'a', 'b', 'c'}
print(alpha)

{'b', 'a', 'c'}

In [52]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
num = {1, 2, 3, 4, 5}
num.clear()
num

set()

In [54]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
num = {1, 2, 3, 4}
num.remove(4)
num

{1, 2, 3}

In [55]:
#  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set_1 = {1, 2, 3}
set_2 = {3, 4, 5}
set_1|set_2

{1, 2, 3, 4, 5}

In [56]:
#  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set_1 = {1, 2, 3}
set_2 = {2, 3, 4}
set_1 & set_2

{2, 3}

In [57]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dic = {"name": "Somya", "age": 20, "city": "Ghaziabad"}
dic

{'name': 'Somya', 'age': 20, 'city': 'Ghaziabad'}

In [58]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dic = {'name': 'John', 'age': 25}
dic["country"] = "USA"
dic

{'name': 'John', 'age': 25, 'country': 'USA'}

In [59]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dic = {'name': 'Alice', 'age': 30}
dic["name"]

'Alice'

In [62]:
#  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dic = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dic.pop("age")
dic

{'name': 'Bob', 'city': 'New York'}

In [66]:
#  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dic = {'name': 'Alice', 'city': 'Paris'}
dic["city"]

'Paris'

In [70]:
#  Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1, 2, 3, 4]
tuple = (1, 2, 3, 4)
dic = {"name": "Somya", "age": 20, "city": "Ghaziabad"}
print(list)
print(tuple)
print(dic)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Somya', 'age': 20, 'city': 'Ghaziabad'}

In [74]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)
list = [40, 60, 30, 20, 55]
list.sort()
print(list)

[20, 30, 40, 55, 60]

In [76]:
#  Write a code to create a list with strings and print the element at the third index.
list = ["apple", "banana", "orange", "kiwi"]
list[3]

'kiwi'

In [81]:
#  Write a code to combine two dictionaries into one and print the result.
dict_1 = {'a': 1, 'b': 2}
dict_2 = {'d': 3, 'c': 4}
dict_1 | dict_2

{'a': 1, 'b': 2, 'd': 3, 'c': 4}

In [82]:
#  Write a code to convert a list of strings into a set.
list = ["apple", "banana", "orange", "kiwi"]
set(list)

{'apple', 'banana', 'kiwi', 'orange'}